body {
  font-family: 'Poppins', sans-serif;
  background-color: #A2D2FF;
}
.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}
.content-container {
  width: 60%;
  margin: 250px auto;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
table {
  margin: -20px;
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px 20px;
  border: 1px solid #000;
}
td {
  text-align: center;
  background-color: #466150;
  padding: 10px; 
}
tr {
  background-color: #3a4e41;
  color: white;
  font-size: 15px;
}
th {
  text-align: center;
  font-size: 15px;
}
.edit-link {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
}  
.edit-link:hover {
  color: #25321c;
}
.cancel-button {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}
.cancel-button:hover {
  color: #981c1c;
}

.image-3-icon2 {
  height: 50px;
  width: 65.9px;
  position: relative;
  object-fit: cover;
}
.halalban3 {
  position: relative;
  background: linear-gradient(90.03deg, #768e5d, #133c00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.image-3-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.halalban-home-icon {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: -2px;
  max-width: 100%;
  overflow: hidden;
  height: 973px;
  flex-shrink: 0;
  object-fit: cover;
}
.my-profile {
  margin-top: 100px;
  margin-bottom: -50px;
  width: 1518px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  background: linear-gradient(90deg, #fff, #c7ff8e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.pfp-icon {
  align-self: center;
  flex: 1;
  position: relative;
  border-radius: 100px; 
  width: 200px; 
  max-width: 100%; 
  max-height: 100%; 
  overflow: hidden;
  object-fit: cover;
}
.button-container {
  text-align: center;
  margin-top: 10px;
}

.profile-link {
  appearance: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  background-color: #dbc8ab;
  border-radius: 0px;
  display: inline-block;
  white-space: nowrap;
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  font-size: 12px; 
  transition: background-color 0.3s ease;
  margin-bottom: 0px; 
}
.profile-link:hover {
  background-color: #a58f7b;
}
.buttons-container {
  margin-bottom: 20px;
}
.pfp-parent {
  height: auto;
  width: 253px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
  min-width: 253px;
}
.profile5 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
}
.profile5 {
  background-color: #c1d1b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 108px 20px 150px;
  box-sizing: border-box;
  position: relative;
  gap: 74px;
  text-align: center;
  font-size: 70px;
  color: #fff;
  font-family: Poppins;
  padding-top: 100px;
}
.profile-left {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 44px;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Poppins;
  }
  
@media screen and (max-width: 1200px) {
  .navbar2 {
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
  }
  .profile-left {
    min-width: 100%;
  }
}
@media screen and (max-width: 975px) {
  .my-bookings-parent,
  .profile-left,
  .profile-right {
    flex: 1;
  }
}
@media screen and (max-width: 700px) {
  .menu2 {
    gap: 39px;
  }
  .my-profile {
    font-size: 42px;
  }
  .display-name {
    font-size: 22px;
  }
  .display-email {
    font-size: 16px;
  }
  .bio,
  .bio-text {
    font-size: 19px;
  }
  .profile-left {
    gap: 44px;
  }
  .my-bookings1 {
    font-size: 22px;
  }
  .my-bookings {
    gap: 73px;
  }
  .my-donations1 {
    font-size: 22px;
  }
  .my-donations {
    gap: 73px;
  }
  .profile5 {
    gap: 74px;
  }
  .menu3 {
    flex-wrap: wrap;
  }
  .footer1 {
    gap: 40px;
    padding-top: 38px;
    padding-bottom: 38px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .menu2 {
    display: none;
  }
  .navbar2 {
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
  }
  .my-profile {
    font-size: 56px;
  }
  .pfp-parent {
    flex: 1;
  }
  .cherry-mary-limuague {
    font-size: 29px;
  }
  .pfpdeets-parent {
    gap: 37px;
  }
  .profile-left {
    flex-wrap: wrap;
  }
  .my-bookings1,
  .my-donations1 {
    font-size: 29px;
  }
  .profile-right {
    flex-wrap: wrap;
    gap: 38px;
    min-width: 100%;
  }
  .profile5 {
    height: auto;
    gap: 74px;
    padding-top: 70px;
    padding-bottom: 97px;
    box-sizing: border-box;
  }
}
